.cover-wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  height: 1300px;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  text-align: center;
}

.cover-wrap__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100px;
  justify-content: center;
  align-items: center;
}

.cover-wrap__title span {
  font-size: 20pt;
  font-weight: bold;
  color: #000;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.cover-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 500px;
  justify-content: center;
  align-items: center;
}

.cover-date span {
  font-size: 18pt;
  font-weight: bold;
  color: #000;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.cover-bottom__box {
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 150px;
  justify-content: center;
  border: 1px solid #000;
  position: absolute;
  bottom: 150px;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
}

.cover-bottom__box span {
  font-size: 13pt;
  font-weight: bold;
  color: #000;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: left;
}

.cover-img {
  display: flex;
  position: absolute;
  top: 1200px;
  width: auto;
}