@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline-block;
  }
}

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://hangeul.naver.com/webfont/NanumGothic/NanumGothic-Regular.eot);
  src: url(https://hangeul.naver.com/webfont/NanumGothic/NanumGothic-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.naver.com/webfont/NanumGothic/NanumGothic-Regular.woff)
      format('woff'),
    url(https://hangeul.naver.com/webfont/NanumGothic/NanumGothic-Regular.ttf)
      format('truetype');
}

/* Navbar */

.nav__bar {
  @apply flex relative w-[50%] h-20 bg-mybg;
}

.nav__bar-title {
  @apply flex flex-row-reverse md:w-[100%] w-[100%] h-[100%] bg-mybg;
}

/*  */
