@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

.nav__bar {
  @apply flex relative w-full h-20 bg-mybg;
}

.nav__bar-title {
  @apply flex flex-row text-lg absolute right-0 top-0 mt-2 ml-2;
}

html{font-size: 62.5%; text-align: center;}
html,body{ height: 100%; overflow: hidden;}
.main{position: relative; padding: 2%; background: #F6F6F6; max-width: 768px; margin: 0 auto;}
.Logo{text-align: right; margin: 1% 1% 0 0;}
.Logo>img{max-width: 100px;}
.nextbtn{background: #C89C23; color: white; display: inline-block; width: 180px; height: 46px; line-height: 46px; border-radius: 3px; font-size: 16px; font-weight: 600;}
.main__subtitle{color: #C39A28; font-size: 1.5rem; text-align: right; font-weight: 600;}
.main__title{font-size: 2.8rem; font-weight: 600; padding: 60px 0px;}
.main__textbox{background: white; padding: 50px; margin: 40px 80px 0 80px;}
.main__text-16rem{font-size: 1.6rem;}
.main__text-16rem>span{font-weight: 600;}
.main__btn{display: flex; position: fixed; bottom: 30px; width: 96%; max-width: 768px;}
.main__prebtn{background: #D1D1D1; color: white; width: 36%; margin-right: 2%; padding: 7px 0; border-radius: 3px;}
.main__nextbtn{background: #C89C23; color: white; width: 62%; padding: 7px 0; border-radius: 3px;}
.main__warning{display: none; color: #FF0000; font-size: 1.5rem; position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%);}
.main__flex_around{
  display: flex; 
  flex-flow: row; 
  justify-content: space-around; 
  align-items: stretch;
}
.main__flex_between{
  display: flex; 
  flex-flow: row; 
  justify-content: 
  space-between; 
  align-items: stretch;
}
.main__flex_ab{
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.tenderoffer__box input{width: 96%; margin-left: 2%; height: 2.3rem;}
.table__mainbox{overflow-x: scroll;}
.table__box{border: solid 1px black; font-size: 1.5rem; text-align: center; min-width: 500px; margin: 0 auto;}
.table__padding{padding: 1%; padding-bottom: 0; border-bottom: solid 1px black;}
.table__front{text-align: left;font-size: 14px;}
.table__title{font-size: 19px; font-weight: 600; margin-bottom: 3%;}
.table__border{border-bottom: solid 1px black;}
.table__border>div{border-right: solid 1px black; flex-grow: 1;/*flex-grow = 가로여백조절*/}
.table__border>div:last-child{border-right: none;}
.table__border_none{border-bottom: none;}
.table__refer{font-size: 1.2rem;}
.table__won input{width: 10%;}
.table__won_height{height: 50%; font-size: 1.4rem;}
.table__text{font-size: 1.3rem;}
.table__br{display: none!important;}
.table__won_box{height: 50%;}
.table__won_box input{border-radius: 0; border: solid 1px rgb(126, 126, 126);}

@media screen and (max-width:600px){
  html {font-size: 55%;}
  .main__textbox{margin: 40px 40px 0 40px; padding: 40px;}
  .check__textbox{margin: 0px 50px;}
  .num__textbox>div>input{width: 60px;}
  .stake_textbox>div>input{width: 20%;}
  .share__textbox>div{width: 80%; margin-left: 10%;}
  .table__text{font-size: 1.1rem;}
  .table__br{display: block;}
  .table__won_height{font-size: 1.2rem;}
}

@media screen and (max-width:425px){
  html {font-size: 50%;}
  .main__textbox{margin: 40px 40px 0 40px; padding: 40px 20px;}
  .check__textbox{margin: 0px 30px;}
  .main__text-16rem{font-size: 1.8rem;}
  .stake_textbox>div>input{width: 20%;}
}

@media screen and (max-width:375px){
  html {font-size: 45%;}
  .main__text-16rem{font-size: 1.7rem;}
  .agent__textbox>div>span{width: 80px;}

}